.showUser {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  font-size: 0.8rem;
  background-color: #90aacb;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  color: #ecf4ff;
}
