* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wholePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.main {
  box-sizing: border-box;

  padding-top: 0.7rem;
  padding-bottom: 1.7rem;
  background: #ecf4ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.webpage {
  height: 70vh;
  width: 90%;
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  background: #90aacb;
  border-radius: 1rem;
  width: 20%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.roleOptions {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #ecf4ff;
}

.contentContainer {
  flex: 2;
  margin: 5rem;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  height: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: #ecf4ff;
  border-radius: 1rem;
  text-align: left;
}

.contentContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.selected {
  color: #607998;
  border-bottom: 0.15rem solid #ecf4ff;
}
